**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
benchmark/CppLox
benchmark/profile_output.txt
docs/pages
test/__pycache__
